.header {
  padding: 50px 0 24px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  @media (max-width: $tablet) {
    padding: 36px 0 20px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    margin-right: 15px;
  }

  &__coll {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  &__info-link {
    @extend %syncopate-regular;
    @include fontsize(16, 17);
    color: $black;
    margin-bottom: 11px;
  }

  &__info {
    @extend %syncopate-regular;
    @include fontsize(13, 14);
    color: $grey;
  }
}
.logo {
  @extend %syncopate-regular;
  @include fontsize(36, 37);
  @media (max-width: $tablet) {
    @include fontsize(20, 21);
  }
}
.blue {
  @extend %syncopate-bold;
  color: $blue;
}
