
.menu {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  transition: all .5s ease;
  z-index: 100;

  visibility: hidden;
  opacity: 0;
  &__block {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 87px 56px 32px;
    width: 100%;
    max-width: 544px;
    background-color: $white;
    overflow-y: auto;
    transform: translateX(100%);

    transition: all .3s ease-in-out;

    @media (max-width: $desktop) {
      max-width: 487px;
      padding: 45px 40px 24px;
    }
    @media (max-width: $tablet-wide) {
      max-width: 440px;
      padding: 51px 33px 24px;
    }
    @media (max-width: $tablet) {
      padding: 50px 50px 24px;
    }
    @media (max-width: $phone-wide) {
      padding: 32px 51px 38px;
      max-width: 310px;
    }
  }
  &__close-btn {
    position: absolute;
    right: 14px;
    top: 14px;
    padding: 10px;
    @media (max-width: $tablet-wide) {
      right: 6px;
      top: 6px;
    }
  }

  &__item {
    margin-bottom: 48px;
  }

  &__list-link { 
    @include fontsize(36,37);
    color: $black;
    text-transform: uppercase;
    transition: all .3s ease;
    &:hover {
      text-shadow: -3px 3px 0px $blue;
    }
    @media (max-width: $tablet-wide) {
      @include fontsize(32,33);
    }
    @media (max-width: $tablet) {
      @include fontsize(20,21);
    }
  }

  &__bottom {
    margin-top: auto;
  }

  &__botoom-title {
    margin-bottom: 31px;
    @media (max-width: $tablet-wide) {
      @include fontsize(32,33);
    }
    @media (max-width: $tablet) {
      @include fontsize(20,21);
    }
  }

  &__list-info {
    margin-bottom: 43px;
  }

  &__list-info-item {
    margin-bottom: 24px;
  }

  &__list-info-link {
    @include fontsize(16,17);
    color: $black;
    margin-bottom: 8px;
    @media (max-width: $tablet-wide) {
      @include fontsize(18,19);
    }
    @media (max-width: $tablet) {
      @include fontsize(14,15);
    }
  }

  &__text {
    @extend %syncopate-regular;
    @include fontsize(13,14);
    color: $darkGrey;
    @media (max-width: $tablet) {
      @include fontsize(14,15);
    }
  }

  &__bottom-list-link {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__icon-link {
    font-size: 32px;
    color: $black;
    transition: all .3s ease;
    &:hover {
      color: $blue;
    }
  }

  &__select {
    .checkbox {
      margin-bottom: 24px;
    }
  }
}

.is-open {
  background: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(7.5px);
  visibility: visible;
  opacity: 1;
  .menu__block {
    transform: translateX(0);
  }
}