  $phone:        375px;
  $phone-wide:   480px;
  $tablet:       768px;
  $tablet-wide:  1024px;
  $desktop:      1366px;
  $desktop-wide: 1920px;
//////////////

$black: #101010;
$white: #FFFFFF;
$blue: #24A9F4;
$darkGrey: #575757;
$grey: #BEBEBE;
$ligthGrey: #DDDDDD;




